* {
    padding: 0;
    margin: 0;box-sizing: border-box;
}

.formulario {
    width: 450px;
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
    height: auto;
    margin: 10px auto;
    gap: 5px;
    padding: 20px;
}

.formulario input {
    background-color: lightcoral;
    margin: 10px;
    padding: 30px;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    outline: none;

}

.formulario input::placeholder{
    color: rgba(255, 255, 255, 0.472);
    border: none;
    font-size: 12px;
    
}

.formulario input:focus {
    border: none;
    border-bottom: 2px solid white;
}

button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: lightcyan;
    border-radius: 20px;
    
}

/* Tarjeta de las propiedades */

.propiedad {
    background-color: lightblue;
    width: 300px;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}



#todasPropiedades {
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    gap:10px;
    margin-top: 20px;
}

#todasPropiedades .propiedad button {
    margin-top: 10px;
}
